@model Factory.Models.Machine;
@using Factory.Models;

<div class="container">
  <h2>Vending Machine Details:</h2>
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <h3>@Html.DisplayNameFor(model => model.Beverage): @Html.DisplayFor(model => model.Beverage)</h3>
  <h3>@Html.DisplayNameFor(model => model.Food): @Html.DisplayFor(model => model.Food)</h3>
  <h3>@Html.DisplayNameFor(model => model.Retail): @Html.DisplayFor(model => model.Retail)</h3>
  <h3>@Html.DisplayNameFor(model => model.LastInspection): @Html.DisplayFor(model => model.LastInspection)</h3>

  <h3>Assigned tech</h3>

  @if (Model.JoinEntities.Count == 0)
  {
    <p>This machine has not been provided a technician</p>
  }
  else
  {
    <h3>Machine Technician:</h3>
    <ul>
      @foreach (var join in Model.JoinEntities)
      {
        <li>@Html.ActionLink($"{@join.Engineer.EngineerName}", "Details", "Engineers", new {id = join.Engineer.EngineerId}) @using (Html.BeginForm("delete", "engineers")) 
          {
            @Html.Hidden("Id", @join.EngineerMachineId)
            <input type="submit" value="remove from machine"/>
          }
        </li>
      }
    </ul>
  }

</div>

@Html.ActionLink("Remove Machine", "delete", "machines", new { id = Model.MachineId }, new { @class = "btn btn-primary" })
@Html.ActionLink("Edit Machine", "edit", "machines", new { id = Model.MachineId }, new { @class = "btn btn-primary" })
@Html.ActionLink("Home", "index", "Home", new { @class = "btn btn-primary" })